#line1{
transform: translate(0em, -0.5em)
}
#baner{
widht:1902px;
height:409.2px;
transform: translate(0em, -13.7em)
}
#line2{
transform: translate(0em, -25.5em)
}
#logo{
widht: 140px;
height:140px;
transform: translate(53em, -185.2em)
}
#button1{
padding-bottom:4px;
padding-left:28px;
padding-right:28px;
padding-top:4px;
margin:20px;
display: inline-block;
transform: translate(39.5em, -106.54em)
}
#button2{
padding-bottom:4px;
padding-left:27px;
padding-right:27px;
padding-top:4px;
margin:20px;
display: inline-block;
transform: translate(39.5em, -107.14em)
}
#button3{
padding-bottom:4px;
padding-left:18px;
padding-right:18px;
padding-top:4px;
margin:20px;
display: inline-block;
transform: translate(45em, -112.4em)
}
#button4{
padding-bottom:4px;
padding-left:22px;
padding-right:22px;
padding-top:4px;
margin:20px;
display: inline-block;
transform: translate(45em, -113em)
}