#line1{
transform: translate(0em, -0.5em)
}
#baner2{
widht:2000px;
height:691px;
transform: translate(0em, -13.7em)
}
#line2{
transform: translate(0em, -14.25em)
}
#logo{
widht: 140px;
height:140px;
transform: translate(53em, -174em)
}
#button1{
padding-bottom:17px;
padding-left:29px;
padding-right:29px;
padding-top:17px;
margin:20px;
display: inline-block;
transform: translate(57em, -100em)
}
#button2{
padding-bottom:4px;
padding-left:28px;
padding-right:28px;
padding-top:4px;
margin:20px;
display: inline-block;
transform: translate(39.5em, -104.22em)
}
#button3{
padding-bottom:4px;
padding-left:18px;
padding-right:18px;
padding-top:4px;
margin:20px;
display: inline-block;
transform: translate(45em, -107.15em)
}
#button4{
padding-bottom:4px;
padding-left:27px;
padding-right:27px;
padding-top:4px;
margin:20px;
display: inline-block;
transform: translate(39.5em, -107.76em)
}
#button5{
padding-bottom:4px;
padding-left:22px;
padding-right:22px;
padding-top:4px;
margin:20px;
display: inline-block;
transform: translate(45em, -110.69em)
}